@use "sass:math";
@use 'input-range-scss' with (
    $track-color: hsl(168, 46%, 29%),
    $thumb-color: hsl(216, 59%, 35%)
);


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    border-collapse: collapse;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {cursor: pointer;}


// -----------------------------------------------------------------------------------------------------
// VARIABLES
// -----------------------------------------------------------------------------------------------------

$sandboxBgColor: hsl(340, 19%, 20%);
$sandboxAccentActive: hsl(340, 50%, 40%);
$sandboxAccentInactive: hsl(340, 30%, 15%);



$samplrBgColor: hsl(214, 29%, 23%);


$designrBgColor: hsl(318, 20%, 39%);


$coleurBgColor: hsl(0, 0%, 18%);

$coleurWhite0: hsla(0, 0%, 100%, 0.0);
$coleurWhite1: hsla(0, 0%, 100%, 0.1);
$coleurWhite2: hsla(0, 0%, 100%, 0.2);
$coleurWhite3: hsla(0, 0%, 100%, 0.3);
$coleurWhite4: hsla(0, 0%, 100%, 0.4);
$coleurWhite5: hsla(0, 0%, 100%, 0.5);
$coleurWhite6: hsla(0, 0%, 100%, 0.6);
$coleurWhite7: hsla(0, 0%, 100%, 0.7);
$coleurWhite8: hsla(0, 0%, 100%, 0.8);
$coleurWhite9: hsla(0, 0%, 100%, 0.9);

$coleurBlack0: hsla(0, 0%, 0%, 0.0);
$coleurBlack1: hsla(0, 0%, 0%, 0.1);
$coleurBlack2: hsla(0, 0%, 0%, 0.2);
$coleurBlack3: hsla(0, 0%, 0%, 0.3);
$coleurBlack4: hsla(0, 0%, 0%, 0.4);
$coleurBlack5: hsla(0, 0%, 0%, 0.5);
$coleurBlack6: hsla(0, 0%, 0%, 0.6);
$coleurBlack7: hsla(0, 0%, 0%, 0.7);
$coleurBlack8: hsla(0, 0%, 0%, 0.8);
$coleurBlack9: hsla(0, 0%, 0%, 0.9);



$processrBgColor: hsl(141, 56%, 26%);


// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (ALL SIZES)
// -----------------------------------------------------------------------------------------------------
#root {
    width: 100vw; 
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;left: 0; 
    background-color: $sandboxBgColor;
    display: block;
    overflow: hidden;
    font-family: sans-serif;
    color: white;
}
.sandboxUI {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .navToggle {
        position: absolute;
        top: 15px;
        transition: background 1s, color 1s;
        letter-spacing: 3px;
        height: 40px;
        padding: 0 20px;
        left: 15px;
        font-size: 16px;
        line-height: 40px;
        font-weight: 600;
        border: none;
        border-radius: 4px;
        text-transform: uppercase;
        color: white;
        cursor: pointer;
    }
    .navPanel {
        position: absolute;
        top: 70px;
        height: calc(100vh - 85px);
        width: 355px;
        transition: left 1s;
        background-color: rgba(0, 0, 0, 0.138);
        button {
            background-color: rgba(0, 0, 0, 0.218);
            width: 300px;
            height: 35px;
            margin: 10px 10px 0 45px;
            border: none;
            border-radius: 4px;
            text-align: right;
            font-size: 16px;
            transition: background 1s;
            font-weight: 500;
            letter-spacing: 1.5px;
            color: rgba(255, 255, 255, 0.36);
            cursor: pointer;
        }
        button:nth-child(1) {
            background-color: rgba(0, 0, 0, 0.138);
            margin: 10px 20px 0 10px;
            height: 40px;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
        }
        button:hover {
            background-color: rgba(0, 0, 0, 0.426);
            transition: background 0s;
        }
    }
    .mainscreen {
        position: absolute;
        top: 70px;
        right: 15px;
        transition: width 1s, top 1s;
        height: calc(100vh - 85px);
        background-color: rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 8px;
        main {
            width: calc(100% - 30px);
            height: calc(100% - 30px);
            position: absolute;
            top: 120vh;
            left: 15px;
            transition: top 1.5s;
            display: block; 

        }
        .pageSamplr {
            background-color: $samplrBgColor;
            overflow: hidden;
            border-radius: 8px;
            position: absolute;
            .samplrCarousel {
                display: block;
                position: absolute;
                height: calc(100% - 30px);
                width: calc(500%);
                top: 15px;
                left: 0;
                transition: left .5s;
                // background-color: black;
                section {
                    background-color: rgba(255, 255, 255, 0.072);
                    margin: 0 15px 0 0;
                    display: inline-block;
                    width: 10%;
                    height: 100%;
                }
                
                
            }
            .samplrCarouselBtnL {
                background-color: rgba(255, 255, 255, 0);
                border: none;
                cursor: pointer;
                height: 100%;
                width: 25%;
                position: absolute;
                top: 0;
                left: 0;
            }
            .samplrCarouselBtnR {
                background-color: rgba(255, 255, 255, 0);
                border: none;
                height: 100%;
                width: 25%;
                position: absolute;
                top: 0;
                cursor: pointer;
                right: 0;
            }
        }
        .pageDesignr {
            background-color: $designrBgColor;
            border-radius: 8px;
        }
        .pageColeur {
            background-color: $coleurBgColor;
            .coleurPalette {
                position: absolute;
                top: 0;
                left: 0;
                transition: width 1s, height 1s;
                width: 50px;
                width: 30%;
                border-radius: 0;
                height: calc(100% - 20px);
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.3);
                section {
                    overflow-y: scroll;
                    overflow-x: hidden;
                    position: absolute; 
                    bottom: 0;
                    left: 0; 
                    height: max-content; 
                    transition: height 1s, width 1s;
                    height: 100%;
                    width: 100%; 
                    &::-webkit-scrollbar {width: 0;}
                    section {
                        position: relative; 
                        overflow: hidden;
                        width: 40px;
                        background-color: rgba(0, 0, 0, 0.241);
                        height: 40px;
                        margin: 10px 10px;
                        transition: height 1s, width 1s;
                        // display: none;
                        
                        
                    }
                    .coleurPaint {
                        position: relative;
                        overflow: hidden;
                        margin: 10px 0 0 10px;
                        transition: height 1s, width 1s;
                        display: block;  
                        background-color: $coleurBlack2; 
                        button {
                            margin: 5px;
                            height: 30px;
                            width: calc(100% - 10px);
                            background-color: rgba(255, 255, 255, 0.302);
                            padding: 0;
                            border: none;
                            position: absolute;
                            top: 0;
                        }

                        fieldset {
                            // background-color: rgb(147, 147, 74);
                            height: 240px;
                            transform: translateY(-0px);
                            margin: 40px 0 0 0;
                            display: grid;
                            grid-template-rows: 40px 40px 40px 40px 40px 40px;
                            .coleurScale {
                                background-color: $coleurBgColor;
                                margin: 5px;
                                height: 35px;
                                display: grid;
                                grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
                                grid-template-rows: 35px;
                            }
                            .coleurScale:nth-child(2) {
                                div:nth-child(1) {background-color: $coleurBlack0;}
                                div:nth-child(2) {background-color: $coleurBlack1;}
                                div:nth-child(3) {background-color: $coleurBlack2;}
                                div:nth-child(4) {background-color: $coleurBlack3;}
                                div:nth-child(5) {background-color: $coleurBlack4;}
                                div:nth-child(6) {background-color: $coleurBlack5;}
                                div:nth-child(7) {background-color: $coleurBlack6;}
                                div:nth-child(8) {background-color: $coleurBlack7;}
                                div:nth-child(9) {background-color: $coleurBlack8;}
                                div:nth-child(10) {background-color: $coleurBlack9;}
                            }
                            .coleurScale:nth-child(1) {
                                div:nth-child(1) {background-color: $coleurWhite9;}
                                div:nth-child(2) {background-color: $coleurWhite8;}
                                div:nth-child(3) {background-color: $coleurWhite7;}
                                div:nth-child(4) {background-color: $coleurWhite6;}
                                div:nth-child(5) {background-color: $coleurWhite5;}
                                div:nth-child(6) {background-color: $coleurWhite4;}
                                div:nth-child(7) {background-color: $coleurWhite3;}
                                div:nth-child(8) {background-color: $coleurWhite2;}
                                div:nth-child(9) {background-color: $coleurWhite1;}
                                div:nth-child(10) {background-color: $coleurWhite0;}
                                
                            }
                            input[type=range] {
                                appearance: none;
                                margin: 5px 0 5px 10px;
                                width: calc(100% - 20px);
                                height: 30px;
                            }
                            input[type=range]:focus {
                                outline: none;
                            }
                            input[type=range]::-webkit-slider-runnable-track {
                                appearance: none;
                                cursor: pointer;
                                box-shadow: none;
                                height: 20px;
                                // background-color: white;
                                background-color: $coleurWhite3;
                            }
                            input[type=range]::-webkit-slider-thumb {
                                appearance: none;
                                height: 20px;
                                border-radius: 0;
                                cursor: pointer;
                                width: 30px;
                                border: none;
                                background-color: green;
                            }
                        }
                        &.paintActive {
                            height: 240px;
                        }
                        &.paintInactive {
                            height: 40px;
                        }
                    }
                }
            }
        }
        .pageProcessr {
            background-color: $processrBgColor;
            border-radius: 8px;
        }
    }
    .sandboxSettings {
        position: absolute;
        top: 15px;
        right: 15px;
        height: 40px;
        width: 40px;
        background-color: rgba(0, 0, 0, 0.13);
        
    }
}

// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (HEIGHT DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (HEIGHT AND WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (ALL SIZES) - DAY/NIGHT MODE, SANDBOX SELECTION, SANDBOX TOGGLE
//       SANDBOX: navigation toggle, selection
// -----------------------------------------------------------------------------------------------------



.activehome {
    .navToggle {background-color: $sandboxAccentInactive;}
}

.activeSamplr {
    .navPanel {
        div {
            .samplrBtn {
                background-color: $samplrBgColor;
                color: white;
                font-weight: 600;
            }

        }
    }
    .mainscreen {
        .pageSamplr {
            top: 15px;
            transition: top 1s 1.5s;
        }
    }
    .navToggle {background-color: $samplrBgColor;}
    
}

.activeDesignr {
    .navPanel {
        div {
            .designrBtn {
                background-color: $designrBgColor;
                color: white;
                font-weight: 600;
            }

        }
    }
    .mainscreen {
        .pageDesignr {
            top: 15px;
            transition: top 1s 1.5s;
        }
    }
    .navToggle {background-color: $designrBgColor;}
}

.activeColeur {
    .navPanel {
        div {
            .coleurBtn {
                background-color: $coleurBgColor;
                color: white;
                font-weight: 600;
            }

        }
    }
    .mainscreen {
        .pageColeur {
            top: 15px;
            transition: top 1s 1.5s;
            .coleurPalette {
                color:  white;
                section {
                    section {
                        button {
                            height: calc(100% - 10px);
                        }
                    }
                    .coleurPaint {
                        height: 40px;
                    }
                }
            }

        }
        .openPalette {
            .coleurPalette {
                width: 30%;
                section {
                    section {
                        width: calc(100% - 20px);
                    }
                    .coleurPaint {
                        width: calc(100% - 20px);
                        
                    }
                }
            }
        }
        .closedPalette {
            .coleurPalette {
                width: 50px;
                section {
                    section {
                        width: 50px;
                    }
                    .coleurPaint {
                        width: calc(100% - 20px);

                    }
                }
            }
        }
    }
    .navToggle {background-color: $coleurBgColor;}
    
}

.activeProcessr {
    .navPanel {
        div {
            .processrBtn {
                background-color: $processrBgColor;
                color: white;
                font-weight: 600;
            }
        }
    }
    .mainscreen {
        .pageProcessr {
            top: 15px;
            transition: top 1s 1.5s;
        }
    }
    .navToggle {background-color: $processrBgColor;}
}





.sandboxToggleInactive {
    .mainscreen {
        width: calc(100vw - 30px);
    }
    .navPanel {
        left: -400px;
    }
    .navToggle {
        box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.627);
    }
}
.sandboxToggleActive {
    .mainscreen {
        width: calc(100vw - 400px);
    }
    .navPanel {
        left: 15px;
    }
    .navToggle {
        box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.4);
        background-color: $sandboxAccentActive;
    }
}


// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (HEIGHT DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (HEIGHT AND WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------
