@use "sass:math";



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    border-collapse: collapse;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {cursor: pointer;}


// -----------------------------------------------------------------------------------------------------
// VARIABLES
// -----------------------------------------------------------------------------------------------------

$sandboxBgColor: hsl(340, 19%, 20%);
$sandboxAccentActive: hsl(340, 50%, 40%);
$sandboxAccentInactive: hsl(340, 30%, 15%);



$samplrBgColor: hsl(214, 29%, 23%);


$designrBgColor: hsl(318, 20%, 39%);


$coleurBgColor: hsl(0, 0%, 18%);

$coleurWhite0: hsla(0, 0%, 100%, 0.0);
$coleurWhite1: hsla(0, 0%, 100%, 0.1);
$coleurWhite2: hsla(0, 0%, 100%, 0.2);
$coleurWhite3: hsla(0, 0%, 100%, 0.3);
$coleurWhite4: hsla(0, 0%, 100%, 0.4);
$coleurWhite5: hsla(0, 0%, 100%, 0.5);
$coleurWhite6: hsla(0, 0%, 100%, 0.6);
$coleurWhite7: hsla(0, 0%, 100%, 0.7);
$coleurWhite8: hsla(0, 0%, 100%, 0.8);
$coleurWhite9: hsla(0, 0%, 100%, 0.9);

$coleurBlack0: hsla(0, 0%, 0%, 0.0);
$coleurBlack1: hsla(0, 0%, 0%, 0.1);
$coleurBlack2: hsla(0, 0%, 0%, 0.2);
$coleurBlack3: hsla(0, 0%, 0%, 0.3);
$coleurBlack4: hsla(0, 0%, 0%, 0.4);
$coleurBlack5: hsla(0, 0%, 0%, 0.5);
$coleurBlack6: hsla(0, 0%, 0%, 0.6);
$coleurBlack7: hsla(0, 0%, 0%, 0.7);
$coleurBlack8: hsla(0, 0%, 0%, 0.8);
$coleurBlack9: hsla(0, 0%, 0%, 0.9);



$processrBgColor: hsl(141, 56%, 26%);

$sketchrBgColor: hsla(0,0%,50%,1);

$scriblrBgColor: hsla(330,30%,30%,1);



// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (ALL SIZES)
// -----------------------------------------------------------------------------------------------------


#root {
    width: 100vw; 
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;left: 0; 
    // background-color: $sandboxBgColor;
    display: block;
    overflow: hidden;
    font-family: sans-serif;
    color: white;
}
.sandboxUI {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $sandboxBgColor;



    .sandboxController {
        position: absolute;
        top: 0;
        height: 100vh;
        overflow: hidden;
        transition: left 1s, width 1s, right 1s;

        .phaseToggle {
            width: calc(100% - 10px);
            height: 160px;
            position: absolute;
            top: 5px;
            left: 5px;
            border-radius: 4px;
            border: none;
            background-color: rgba(255, 255, 255, 0.226);
        }

        nav {
            position: absolute;
            top: 165px;
            margin: 5px;
            background-color: rgba(0, 0, 0, 0.578);
            border: 5px solid transparent;
            transition: height 1s, width 1s, left 1s;
            overflow-x: hidden;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            button {
                margin: 0 0 5px 0;
                width: 100%;
                height: 30px;
                border-radius: 4px;
            }
        }

        .controllerToggles {
            position: absolute;
            bottom: 0;
            transition: width 1s;
            width: 50px;
            height: 85px;
            
            button {
                height: 35px; 
                width: 35px; 
                margin: 0 7.5px 7.5px 7.5px;
                border-radius: 4px;
                border: none;
                overflow: hidden;
                font-weight: 700;
                font-size: 20px;
            }
        }

        &.sandboxControllerL {
            left: 0;
            .controllerToggles {
                left: 0;
            }

        }
        
        &.sandboxControllerR {
            right: 0;
            .controllerToggles {
                right: 0;
            }
        }
    }

    .consoleContainer {
        position: absolute;
        height: 100vh;
        padding: 0 0 0 10px;
        top: 0;
        transition: left 1s, width 1s;
        

    }
    


    // ---------------------------------------------------------------
    // SANDBOX CONTROL TOGGLES
    // ---------------------------------------------------------------

    &.controlL {
        &.sandboxControllerMin {
            .sandboxController {width: 50px;}
            .sandboxControllerL {left: 0;}
            .sandboxControllerR {right: -50px;}
            .consoleContainer {left: 50px; width: calc(100% - 60px);}
        }
        &.sandboxControllerMax {
            .sandboxController {width: 400px;}
            .sandboxControllerL {left: 0;}
            .sandboxControllerR {right: -400px;}
            .consoleContainer {left: 400px; width: calc(100% - 410px);}
        }
        
    }
    &.controlR {
        &.sandboxControllerMax {
            .sandboxController {width: 400px;}
            .sandboxControllerL {left: -400px;}
            .sandboxControllerR {right: 0;}
            .consoleContainer {left: 0; width: calc(100% - 410px);}

        }
        &.sandboxControllerMin {
            .sandboxController {width: 50px;}
            .sandboxControllerL {left: -50px;}
            .sandboxControllerR {right: 0;}
            .consoleContainer {left: 0; width: calc(100% - 60px);}
        }
    }

    &.sandboxControllerMax {
        .sandboxController {
            nav {
                width: calc(100% - 65px);
                height: calc(100% - 190px);
                &::-webkit-scrollbar {
                    width: 15px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: hsla(0, 0%, 100%, 0.5);
                    border-radius: 4px;
                }
            }
        }
        .sandboxControllerL {
            nav {
                left: 47.5px;
            }
        }
    }
    &.sandboxControllerMin {
        .sandboxController {
            nav {
                width: calc(100% - 20px);
                height: calc(100% - 270px);
                &::-webkit-scrollbar {width: 0;}
            }
        }
        .sandboxControllerL {
            nav {
                left: 0;
            }
        }
    }

    

}

// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (HEIGHT DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (HEIGHT AND WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (ALL SIZES) - DAY/NIGHT MODE, SANDBOX SELECTION, SANDBOX TOGGLE
//       SANDBOX: navigation toggle, selection
// -----------------------------------------------------------------------------------------------------




// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (HEIGHT DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (HEIGHT AND WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------
