@use "sass:math";



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    border-collapse: collapse;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {cursor: pointer;}


// -----------------------------------------------------------------------------------------------------
// VARIABLES
// -----------------------------------------------------------------------------------------------------

$sandboxBgColor: hsl(340, 19%, 20%);
$sandboxAccentActive: hsl(340, 50%, 40%);
$sandboxAccentInactive: hsl(340, 30%, 15%);



$samplrBgColor: hsl(214, 29%, 23%);


$designrBgColor: hsl(318, 20%, 39%);


$coleurBgColor: hsl(0, 0%, 18%);

$coleurWhite0: hsla(0, 0%, 100%, 0.0);
$coleurWhite1: hsla(0, 0%, 100%, 0.1);
$coleurWhite2: hsla(0, 0%, 100%, 0.2);
$coleurWhite3: hsla(0, 0%, 100%, 0.3);
$coleurWhite4: hsla(0, 0%, 100%, 0.4);
$coleurWhite5: hsla(0, 0%, 100%, 0.5);
$coleurWhite6: hsla(0, 0%, 100%, 0.6);
$coleurWhite7: hsla(0, 0%, 100%, 0.7);
$coleurWhite8: hsla(0, 0%, 100%, 0.8);
$coleurWhite9: hsla(0, 0%, 100%, 0.9);

$coleurBlack0: hsla(0, 0%, 0%, 0.0);
$coleurBlack1: hsla(0, 0%, 0%, 0.1);
$coleurBlack2: hsla(0, 0%, 0%, 0.2);
$coleurBlack3: hsla(0, 0%, 0%, 0.3);
$coleurBlack4: hsla(0, 0%, 0%, 0.4);
$coleurBlack5: hsla(0, 0%, 0%, 0.5);
$coleurBlack6: hsla(0, 0%, 0%, 0.6);
$coleurBlack7: hsla(0, 0%, 0%, 0.7);
$coleurBlack8: hsla(0, 0%, 0%, 0.8);
$coleurBlack9: hsla(0, 0%, 0%, 0.9);



$processrBgColor: hsl(141, 56%, 26%);

$sketchrBgColor: hsla(0,0%,50%,1);

$scriblrBgColor: hsla(330,30%,30%,1);







// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (ALL SIZES)
// -----------------------------------------------------------------------------------------------------


#root {
    width: 100vw; 
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;left: 0; 
    // background-color: $sandboxBgColor;
    display: block;
    overflow: hidden;
    font-family: sans-serif;
    color: white;
}
.sandboxUI {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $sandboxBgColor;



    .sandboxController {
        position: absolute;
        bottom: 0;
        overflow: hidden;
        transition: left 1s, width 1s, right 1s, height 1s;
        nav {
            position: absolute;
            background-color: $sandboxBgColor;
            border-radius: 4px;
            transition: width 1s, height 1s;
            button {transition: width 1s, height 1s; padding: 0;}
        }
        .phaseToggle {
            width: calc(100% - 20px); 
            height: 200px;
            background-color: skyblue;
        }
        .pageButtons {
            width: calc(100% - 20px);
            height: calc(100vh - 230px);
            background-color: hsla(0, 0%, 0%, 0.382);

        }
        .controlButtons {
            bottom: 0;

            height: 50px; width: 30px; 
            height: 70px; width: 40px;
            height: 115px; width: 60px;


            button {
                width: 10px; height: 10px; 
                width: 20px; height: 20px; 
                width: 40px; height: 40px; 
                margin: 10px 0 0 10px;
                border-radius: 4px; border: none;
            }
        }        

        &.sandboxControllerL {
            left: 0;
            height: 100vh; border-radius: 0;
            width: 80px;
            // width: 400px;

            nav {left: 10px;}
            .phaseToggle { top: 10px;}
            .pageButtons {top: 220px;}
            .controlButtons {
                left: 0;
                border-radius: 0 8px 0 0;
            }
        }
        &.sandboxControllerR {
            right: 0;
            height: 55px; width: 30px; border-radius: 8px 0 0 0;
            height: 75px; width: 40px; border-radius: 8px 0 0 0;
            height: 100vh; width: 80px; border-radius: 0;

            nav {
                right: 10px;
            }

            .phaseToggle {top: 10px;}
            .pageButtons {top: 220px;}
            .controlButtons {
                bottom: 0;right: 0;
                border-radius: 8px 0 0 0;

            }
            
        }
    }
    
    .consoleContainer {
        position: absolute;
        height: calc(100vh - 20px);
        top: 10px;
        text-align: center;
        transition: left 1s, width 1s;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 8px;


        width: calc(100vw - 90px);

        left: 80px;
        

    }
    


    // ---------------------------------------------------------------
    // SANDBOX CONTROL TOGGLES
    // ---------------------------------------------------------------




}

// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (HEIGHT DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (HEIGHT AND WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (ALL SIZES) - DAY/NIGHT MODE, SANDBOX SELECTION, SANDBOX TOGGLE
//       SANDBOX: navigation toggle, selection
// -----------------------------------------------------------------------------------------------------




// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (HEIGHT DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------


// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (HEIGHT AND WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------
