@use "sass:math";



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    border-collapse: collapse;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {cursor: pointer;}


// -----------------------------------------------------------------------------------------------------
// VARIABLES
// -----------------------------------------------------------------------------------------------------

$sandboxBgColor: hsl(339, 48%, 47%);
$sandboxAccentActive: hsl(340, 65%, 38%);
$sandboxAccentInactive: hsl(340, 30%, 15%);



$samplrBgColor: hsl(214, 29%, 23%);


$designrBgColor: hsl(318, 20%, 39%);


$coleurBgColor: hsl(0, 0%, 18%);

$coleurWhite0: hsla(0, 0%, 100%, 0.0);
$coleurWhite1: hsla(0, 0%, 100%, 0.1);
$coleurWhite2: hsla(0, 0%, 100%, 0.2);
$coleurWhite3: hsla(0, 0%, 100%, 0.3);
$coleurWhite4: hsla(0, 0%, 100%, 0.4);
$coleurWhite5: hsla(0, 0%, 100%, 0.5);
$coleurWhite6: hsla(0, 0%, 100%, 0.6);
$coleurWhite7: hsla(0, 0%, 100%, 0.7);
$coleurWhite8: hsla(0, 0%, 100%, 0.8);
$coleurWhite9: hsla(0, 0%, 100%, 0.9);

$coleurBlack0: hsla(0, 0%, 0%, 0.0);
$coleurBlack1: hsla(0, 0%, 0%, 0.1);
$coleurBlack2: hsla(0, 0%, 0%, 0.2);
$coleurBlack3: hsla(0, 0%, 0%, 0.3);
$coleurBlack4: hsla(0, 0%, 0%, 0.4);
$coleurBlack5: hsla(0, 0%, 0%, 0.5);
$coleurBlack6: hsla(0, 0%, 0%, 0.6);
$coleurBlack7: hsla(0, 0%, 0%, 0.7);
$coleurBlack8: hsla(0, 0%, 0%, 0.8);
$coleurBlack9: hsla(0, 0%, 0%, 0.9);



$processrBgColor: hsl(141, 56%, 26%);

$sketchrBgColor: hsla(0,0%,50%,1);

$scriblrBgColor: hsl(329, 70%, 48%);







// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (ALL SIZES)
// -----------------------------------------------------------------------------------------------------


#root {
    width: 100vw; 
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;left: 0; 
    // background-color: $sandboxBgColor;
    display: block;
    overflow: hidden;
    font-family: sans-serif;
    color: white;
}
.sandboxUI {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $sandboxBgColor;



    .sandboxController {
        position: absolute;
        bottom: 0;
        overflow: hidden;
        transition: left 1s, width 1s, right 1s, height 1s;
        height: 100vh;
        // background-color: rgba(0, 0, 0, 0.393);
        background-color: rgba(0, 0, 0, 0.15);


        .pageButtons {
            top: 0;
            
        }



        .controlButtons {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            button {
                margin: 0 0 10px 10px;
                width: calc(100% - 20px);
                height: 15px;
                border-radius: 4px;
                border: none;
                padding: 0;
            }
        }
        

        &.sandboxControllerL {
            left: 0;
            height: 100vh; 
            border-radius: 0;

            nav {left: 10px;}
            .controlButtons {
                left: 0;
                button {
                    height: 30px;
                }
            }
        }
        &.sandboxControllerR {
            right: 0;
            

            nav {
                right: 10px;
            }

            .controlButtons {
                bottom: 0;right: 0;
                border-radius: 8px 0 0 0;

                button {
                    height: 10px; 
                    height: 20px;
                }

            }
            
        }
    }
    
    .consoleContainer {
        position: absolute;
        height: 100vh;
        top: 0;
        text-align: center;
        transition: left 1s, width 1s;


        width: calc(100vw - 90px);

        left: 50px;
        

    }
    


    // ---------------------------------------------------------------
    // SANDBOX CONTROL TOGGLES
    // ---------------------------------------------------------------

    &.noPage {
        &.leftControl {
            &.maxControl {
                .sandboxController {width: 30px;}
            }
            &.minControl {
                .sandboxController {width: 30px;}
            }
        }
        &.rightControl {
            &.maxControl {
                .sandboxController {width: 30px;}
            }
            &.minControl {
                .sandboxController {width: 30px;}
            }
        }
    }
    &.activePage {
        &.leftControl {
            &.unlockedControl {
                &.maxControl {
                    .sandboxControllerL {width: 400px;}
                    .sandboxControllerR {width: 40px;}
                }
                &.minControl {
                    .sandboxControllerL {width: 50px;}
                    .sandboxControllerR {width: 40px;}
                }
            }
            &.lockedLControl {
                &.maxControl {
                    .sandboxControllerL {width: 400px;}
                    .sandboxControllerR {width: 30px;}
                }
                &.minControl {
                    .sandboxControllerL {width: 50px;}
                    .sandboxControllerR {width: 30px;}
                }
            }
            &.lockedRControl {
                &.maxControl {
                    .sandboxControllerL {width: 400px;}
                    .sandboxControllerR {width: 30px;}
                }
                &.minControl {
                    .sandboxControllerL {width: 50px;}
                    .sandboxControllerR {width: 40px;}
                }
            }
        }
        &.rightControl {
            &.unlockedControl {
                &.maxControl {
                    .sandboxControllerL {width: 40px;}
                    .sandboxControllerR {width: 400px;}
                }
                &.minControl {
                    .sandboxControllerL {width: 40px;}
                    .sandboxControllerR {width: 50px;}
                }
            }
            &.lockedLControl {
                &.maxControl {
                    .sandboxControllerL {width: 40px;}
                    .sandboxControllerR {width: 400px;}
                }
                &.minControl {
                    .sandboxControllerL {width: 40px;}
                    .sandboxControllerR {width: 50px;}
                }
            }
            &.lockedRControl {
                &.maxControl {
                    .sandboxControllerL {width: 30px;}
                    .sandboxControllerR {width: 400px;}
                }
                &.minControl {
                    .sandboxControllerL {width: 30px;}
                    .sandboxControllerR {width: 50px;}
                }
            }
        }
    }


}

// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (HEIGHT DEPENDENT)
// -----------------------------------------------------------------------------------------------------




// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------




// -----------------------------------------------------------------------------------------------------
// STATIC STYLING (HEIGHT AND WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------




// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (ALL SIZES) - DAY/NIGHT MODE, SANDBOX SELECTION, SANDBOX TOGGLE
//       SANDBOX: navigation toggle, selection
// -----------------------------------------------------------------------------------------------------




// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (HEIGHT DEPENDENT)
// -----------------------------------------------------------------------------------------------------




// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------




// -----------------------------------------------------------------------------------------------------
// DYNAMIC STYLING (HEIGHT AND WIDTH DEPENDENT)
// -----------------------------------------------------------------------------------------------------
